extend base.pug

block content

	//- ------------------ -//
			Menu Button
	//- ------------------ -//
	div(ng-controller="MenuCtrl")
		md-fab-speed-dial(md-open="isOpen" md-direction="up" class="md-scale md-fab-bottom-right"
		ng-mouseenter="Enter()" ng-mouseleave="Leave()")
			md-fab-trigger
				md-button(aria-label="Menu" class="md-fab md-warn" ng-click="TaskDialog($event)")
					md-icon(md-font-library="material-icons" ng-bind="icon")
					md-tooltip(md-direction="left") New Task
			md-fab-actions
				md-button(aria-label="sort" class="md-fab md-raised md-mini md-warn"
				ng-click="Sort()")
					md-icon(md-font-library="material-icons") swap_vert
					md-tooltip(md-direction="left") Change Sort
				md-button(aria-label="sort" class="md-fab md-raised md-mini md-warn"
				ng-click="ListBoardDialog($event)")
					md-icon(md-font-library="material-icons") list
					md-tooltip(md-direction="left") List Boards
				md-button(aria-label="logout" class="md-fab md-raised md-mini md-warn"
				ng-click="Logout()")
					md-icon(md-font-library="material-icons") exit_to_app
					md-tooltip(md-direction="left") Logout

	//- ------------------ -//
		Submit Task Dialog
	//- ------------------ -//
	div(ng-controller="SubmitTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="create_task")
				md-dialog(layout-padding aria-label="Create Task")
					md-dialog-content(layout-padding layout="column")
						div(layout="row" layout-align="space-between center")
							h4 Create Task
							p(ng-init="error = false" ng-if="error == true"
							style="color: red; size: .5em") * All Fields Required
						div(layout="row")
							md-input-container(flex)
								label Title
								input(ng-model="title")
						div(layout="row")
							md-input-container(class="md-block" flex)
								label Label
								md-select(ng-model="label")
									md-option(ng-repeat="label in labels" value="{{label}}") {{label}}
							md-input-container(class="md-block")
								label Due Date
								md-datepicker(ng-model="date")
						div(layout="row")
							md-input-container(flex)
								label Description
								textarea(ng-model="desc")

					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(ng-click="submit()") Submit

	//- ------------------ -//
		Update Task Dialog
	//- ------------------ -//
	div(ng-controller="UpdateTaskCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="update_task")
				md-dialog(layout-padding aria-label="Update Task")
					md-dialog-content(layout-padding layout="column")
						div(layout="row" layout-align="space-between center")
							h4 Update Task
							p(ng-init="error = false" ng-if="error == true"
							style="color: red; size: .5em") * All Fields Required
						div(layout="row")
							md-input-container(flex)
								label Title
								input(ng-model="title")
						div(layout="row")
							md-input-container(class="md-block" flex)
								label Label
								md-select(ng-model="label")
									md-option(ng-repeat="label in labels" value="{{label}}") {{label}}
							md-input-container(class="md-block")
								label Due Date
								md-datepicker(ng-model="date")
						div(layout="row")
							md-input-container(flex)
								label Description
								textarea(ng-model="desc")

					md-dialog-actions
						div(layout="row" style="width: 100%" layout-align="space-between center")
							md-button(class="md-icon-button" ng-click="RefreshTask()")
								md-icon(md-font-library="material-icons") refresh
								md-tooltip(md-direction="right") Move to Upcoming
							div
								md-button(ng-click="cancel()") Cancel
								md-button(ng-click="submit()") Save

	//- ------------------ -//
	//- List Board Dialog
	//- ------------------ -//
	div(ng-controller="BoardCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="list_board")
				md-dialog(layout-padding aria-label="Create Board")
					md-dialog-content(layout-padding layout="column")
						h4 Change Boards
						md-list(flex)
							md-list-item(class="secondary-button-padding"
							ng-click="selectBoard(board.key)"
							ng-repeat="board in items track by $index")
								p {{board.title}}
								md-button(class="md-secondary" class="md-icon-button"
								ng-click="EditBoardDialog($event, board.title, board.desc, \
								board.key); $event.stopPropagation()")
									md-icon(md-font-library="material-icons") settings

					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(class="md-icon-button"
						ng-click="BoardDialog($event)")
							md-icon(md-font-library="material-icons") add

	//- ------------------ -//
	//- Create Board Dialog
	//- ------------------ -//
	div(ng-controller="SubmitBoardCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="create_board")
				md-dialog(layout-padding aria-label="Create Board")
					md-dialog-content(layout-padding layout="column")
						div(layout="row" layout-align="space-between center")
							h4 Create Board
							p(ng-init="error = false" ng-if="error == true"
							style="color: red; size: .5em") * All Fields Required
						div(layout="row")
							md-input-container(flex)
								label Title
								input(ng-model="title")
						div(layout="row")
							md-input-container(flex)
								label Description
								textarea(ng-model="desc")

					md-dialog-actions
						md-button(ng-click="cancel()") Cancel
						md-button(ng-click="submit()") Submit

	//- ------------------ -//
	//- Edit Board Dialog
	//- ------------------ -//
	div(ng-controller="EditBoardCtrl")
		div(style="visibility: hidden")
			div(class="md-dialog-container" id="edit_board")
				md-dialog(layout-padding aria-label="Edit Board")
					md-dialog-content(layout-padding layout="column")
						div(layout="row" layout-align="space-between center")
							h4 Edit Board
							p(ng-init="error = false" ng-if="error == true"
							style="color: red; size: .5em") * All Fields Required
						div(layout="row")
							md-input-container(flex)
								label Title
								input(ng-model="title")
						div(layout="row")
							md-input-container(flex)
								label Description
								textarea(ng-model="desc")

					md-dialog-actions
						div(layout="row" style="width: 100%" layout-align="space-between center")
							md-button(class="md-icon-button" ng-click="DeleteBoard()")
								md-icon(md-font-library="material-icons") delete
								md-tooltip(md-direction="right") Delete
							div
								md-button(ng-click="cancel()") Cancel
								md-button(ng-click="submit()") Save


	//- ------------------ -//
			  Tasks
	//- ------------------ -//
	div(ng-controller="TaskCtrl" class="mobile_container")
		div(layout="row" class="full-row")
			div(flex ng-repeat="arr in items track by $index" ng-init="$rowIndex = $index")
				md-toolbar(layout="row" layout-align="center center") {{titles[$index]}}
				md-content(ng-class="addClass($rowIndex)")
					md-card(ng-repeat="task in arr track by $index"
					ng-click="UpdateTask($event, task.key, task.title, task.label, task.date, task.desc)")
						md-card-header
							md-card-avatar
								md-icon(md-font-library="material-icons" ng-class="task.label") label
							md-card-header-text(layout="row" layout-align="space-between center")
								div(layout="column")
									span(class="md-title") {{task.title}}
									span(class="md-subhead") {{task.due}}
								md-button(class="md-icon-button" style="float: right"
								ng-click="MoveTask($event, task.key, $rowIndex); $event.stopPropagation()")
									md-icon(md-font-library="material-icons") {{icons[$rowIndex]}}
										md-tooltip(md-direction="left") {{icon_names[$rowIndex]}}
						md-card-content(ng-model="desc") {{task.desc}}


block script
	script(src="module.js")
	script(src="ctrl_menu.js")
	script(src="ctrl_submit.js")
	script(src="ctrl_task.js")
	script(src="ctrl_update.js")

	script(src="ctrl_board_boards.js")
	script(src="ctrl_board_submit.js")
	script(src="ctrl_board_edit.js")
